<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>serverTest</title>
</head>
<body>
    <h1> 현재 접속한 페이지: <%= title %> </h1>

    <header>
        <nav>
            <a href="/api">홈</a>
            <a href="/api/signup">회원가입</a>
            <a href="/api/login">로그인</a>
        </nav>
    </header>

    <hr>