.MapTheme {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  // 지도
  svg {
    // 최초 실행시 지도 on / off
    &.on {
      opacity: 1;
      transform: scale(1);
      transition: .8s;
    }
    &.off {
      opacity: 0;
      transform: scale(0);
    }

    path {
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        fill: #404aa3;
      }
    }
  }
}
