.LogoBox {
  // LogoBox 사이즈 설정
  width: 650px;
  height: 400px;
  border-radius: 45px;
  transition: 0.5s;

  // Logo 중앙 배치
  display: flex;
  justify-content: center;
  align-items: center;

  // Logo 사이즈
  img {
    width: 160px;
    height: 180px;
    cursor: pointer;
    transition: 0.5s;

    // 로고버튼을 눌렀을 경우
    // 로그인 박스 활성화
    &.loginOn {
      width: 91px;
      height: 105px;
      transition: 0.5s;
    }
  }

  // 로고버튼을 눌렀을 경우
  // 로그인 박스 활성화
  &.loginOn {
    width: 325px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    transition: 0.5s;
  }
}
